@media only screen and (max-width: 1072px) {
    h1{
        position: relative;
        left: 250px;
    }
}
@media only screen and (max-width: 900px) {
    h1{
        position: relative;
        left: 210px;
    }
}
@media only screen and (max-width: 800px) {
    h1{
        position: relative;
        left: 190px;
    }
}
@media only screen and (max-width: 700px) {
    h1{
        position: relative;
        left: 155px;
    }
}
@media only screen and (max-width: 653px) {
    h1{
        position: relative;
        left: 0px;
        font: smaller;
    }
    #btn{
        position: relative;
        left: 50px;
    }
}